// place your custom styles here
// 容器
.vp-portfolio-container {
 padding: 120px 0;
}

// 头像容器
.vp-portfolio-avatar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// 导航栏字体
.vp-nav {
  color: white !important;
}
.vp-nav-links {
  column-gap: 0.5rem;
  color: white !important;
}
.vp-nav-item {
  font-size: 1.5rem;
  color: white !important;
  // margin: auto 5px
}

.vp-navbar {
  height: 9vh;
} 

// 站点名称样式
.vp-site-name {
  font-size: 1.5rem;
}

.vp-portfolio-welcome {
  color: rgb(196, 196, 247)
}

.vp-portfolio-name {
  color: white;
}

.vp-portfolio-title {
  color: rgb(196, 196, 247)
}