// place your custom styles here
// 容器
.vp-portfolio-container {
 padding: 200px 0;
}

// 头像容器
.vp-portfolio-avatar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// 导航栏字体
.vp-nav {
  color: white !important;
}
.vp-nav-links {
  column-gap: 0.5rem;
  color: white !important;
}
.vp-nav-item {
  font-size: 1.2rem;
  color: white !important;
}
